html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
}

*,*::before,*::after{
box-sizing: border-box;
}
p, h1, h2, a, li{
    font-family: Arial;
    line-height: 1.5;
}
input {
    -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none;     /* FireFox */
    appearance: none;
}
/* CSS reset end*/


/* background start */
.home_wrap{
    background-image: url("../image/home_bg.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.qus_wrap{
    background-image: url("../image/qus_bg.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.result_wrap{
    background-image: url("../image/result_bg.png");
    background-repeat: no-repeat;
}
/* background end */

/* header start */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.header .logo{
    width: 20%;
}
.offical_link{
    width: 160px;
}
.header .left{
    width:15%;
}
/* header end */

/* home page start */
.content_box{
    display: flex;
    justify-content: center;
}
.content_box .info{
    width: 20%;
    margin:-5% 5%;
}
.info .info_title{
    position: relative;
    width: 45%;
    bottom: -100px;
    left:-80px
}
.gift .gift_title{
    position: relative;
    width: 40%;
    bottom: -120px;
    left:-80px
}
.content_box .gift{
    width: 30%;
    margin:8% 5%;
}
.submit_btn{
    color:1px solid #EFDB00;
    text-align: center;
}
.submit_btn input{
    border:2px solid #000000;
    background-color: #EFDB00;
    border-radius: 5px;
    font-size: 28px;
    padding: 2px 65px;
}
.submit_btn input:hover{
    box-shadow: 4px 3px 0px #000000;
}
/* home page end */

/* qus page start */
.winTop{
    display: flex;
    justify-content: end;
    background-color: #C5A3FF;
    border: 1px solid #9154EB;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}
.winTop img{
    margin:0px 3px;
    width: 20px;
}
.winBox{
    background-color: #FFF5F7;
    border: 1px solid #9154EB;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    padding: 12%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qus_content{
    width: 30%;
    margin: 120px 0px 60px 0px;
    height: 750px;
}
.qus_wrap h2{
    font-size: 28px;
    margin-bottom: 20px;
}
.ansbox{
    text-align: center;
}
.ansbox input{
    width: 95%;
    border:2px solid #000000;
    background-color: #E0D0FD;
    border-radius: 5px;
    font-size: 18px;
    padding: 2px 30px;
    color: #757A83;
    margin: 5px 20px;
    box-shadow: 4px 3px 0px #000000;
}
.ansbox input:hover{
    background-color: #9D6BFA;
    color:#FFF5F7;
}
.qus_box{
    z-index:30;
    position: relative;
}
.bgWin_box{
    z-index:20;
    position: relative;
    top:-600px;
    left: -10px;
}
.bgWin2_box{
    z-index:10;
    position: relative;
    top:-1100px;
    left: -20px;
}
.qus_content .submit_btn{
    margin-top: 50px;
}

/* qus page end */

/* result page start */
.result_box, .activity_box{
    border:1px solid #9154EB;
    background-color: #ffffff65;
    border-radius: 40px;
    margin:60px 20%;
    padding: 0px 5%;
    backdrop-filter: blur(5px);
}
.yourmodo{
    margin:60px 30%;
}
.yourmodo h2{
    font-size: 28px;
}
.reasonBox, .great_co, .bad_co{
    margin:60px 0px;
}
.yourmodo_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.yourmodo_box img{
    width: 80%;
    margin-bottom: 10px;
}
.yourmodo_box h2{
    font-size: 50px;
    font-weight: bolder;
}
.reasonBox h2{
    font-size: 32px;
    font-weight: bold;

    text-align: center;
}
.reasonBox p, .great_co p, .bad_co p{
    margin:0px 16px;
    line-height: 2;
}
.great_co_box{
    display: flex;
    justify-content: space-around;
    padding:0px 10%;
}
.great_co_box img{
    margin-top: 30px;
    width: 15%;
}
.activity_box h2{
    text-align: center;
}
.activity_box ul{
    margin-bottom:60px;
    padding-left: 16px;

}
.activity_box li{
    list-style-type:decimal;
    margin:10px 0px;
}
.sign_active{
    display: flex;
    margin:20px 0px;
    justify-content: center;
}
.sign_active p{
    background-color: #C5A3FF;
    border:1px solid #6840A2;
    border-right:none;
    border-radius: 20px 0px 0px 20px;
    padding:8px 22px;
    font-weight: bold;
}
.sign_active input{
    border:1px solid #6840A2;
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(255, 255, 255, 0);
    width: 30%;
    font-size: 18px;
}
.activity_box .submit_btn{
    margin:60px 0px 30px 0px;
}
.result_sticker1{
    position: absolute;
    width: 20%;
    top:-100px;
    left:-100px;
}
.result_sticker2{
    position: absolute;
    width: 20%;
    top:-60px;
    left:-110px;
}

/* result page end */


/* sideBar Start */
.social_sideBar{
    display: flex;
    right:0px;
    flex-direction: column;
    background-color: #C5A3FF;
    width: 4%;
    border: 1px solid #9D6BFA;;
    border-radius:20px 0px 0px 20px;
    position: fixed;
    top:35%;
}
.social_sideBar a{
    margin:15px;
}


/* sideBar End */

/* footer start */
.footer{
    height: 300px;
}

/* footer end */






/* RWD */

@media (max-width:1440px) {

    /* header Start */
    .offical_link{
        width: 140px;
    }
    /* header End */

    /* sideBar Start */
    .social_sideBar{
        width: 5%;
    }
    /* sideBar End */
    /* qusPage start */
    .qus_content{
        width: 40%;
    }
    /* qusPage end */

    /* result start */
    .yourmodo{
        margin:60px 27%;
    }
    /* result end */

    /* home start */
    .info .info_title{
        bottom: -90px;
        left:-60px
    }
    /* home end */

    /* result start */
    .sign_active input{
        width: 40%;
    }
    .result_sticker1{
        top:-60px;
        left:-80px;
    }
    .result_sticker2{
        top:-40px;
        left:-70px;
    }
    /* result end */

}


@media (max-width:1200px) {
    /*header Start */
    .header .logo{
        width: 25%;
    }
    .offical_link{
        width: 120px;
    }
    /* header End */

    /* sideBar Start */
    .social_sideBar{
        width: 6%;
    }
    /* sideBar End */

    /* home start */
    .content_box .info{
        width: 25%;
    }
    .content_box .gift{
        width: 35%;
    }
    .info .info_title{
        bottom: -80px;
        left:-60px
    }
    .gift .gift_title{
        bottom: -100px;
        left:-60px
    }
    /* home end */

    /* result start */
    .yourmodo{
        margin:60px 24%;
    }
    .yourmodo_box h2{
    font-size: 40px;
    font-weight: bolder;
    }
    .sign_active input{
        width: 45%;
    }
    .result_sticker1{
        position: absolute;
        width: 20%;
        top:-50px;
        left:-50px;
    }
    .result_sticker2{
        position: absolute;
        width: 20%;
        top:-50px;
        left:-50px;
    }
    /* result end */
}


@media (max-width:900px) {
    /*header Start */
    .header .logo{
        width: 30%;
    }
    /* header End */

    /* result start */

    .great_co_box img{
        width: 20%;
    }
    /* result end */



    /* sideBar Start */
    .social_sideBar{
        width: 7%;
    }
    .sign_active input{
        width: 50%;
    }
    /* sideBar End */
    
}


@media (max-width:820px) {
    /* sideBar Start */
    .social_sideBar{
        width: 8.5%;
    }
    /* sideBar End */
    /* qusPage start */
    .qus_content{
        width: 60%;
    }
    /* qusPage end */

    /* home start */
    .content_box .info{
        margin-top: -50px;
        width: 30%;
    }
    .content_box .gift{
        width: 40%;
        margin-top: 0px;
    }
    .info .info_title{
        width: 50%;
        bottom: -70px;
        left:-40px
    }
    .gift .gift_title{
        width: 45%;
        bottom: -80px;
        left:-50px
    }
    /* home end */

    /* result start */
    .yourmodo{
        margin:60px 20%;
    }
    .yourmodo_box h2{
    font-size: 35px;
    font-weight: bolder;
    }
    .sign_active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sign_active p{
    border-right:1px solid #6840A2; 
    border-radius:20px 20px 0px 0px; 
    width: 80%;
    text-align: center;
    }
    .sign_active input{
        border-right:1px solid #6840A2; 
        border-radius:0px 0px 20px 20px; 
        width: 80%;
        font-size: 20px;
        padding:5px;
        text-align: center;
    }
    .activity_box .reasonBox{
        margin: 30px 0px;
    }
    .great_co_box{
        display: flex;
        justify-content: space-around;
        padding:0px 10%;
    }
    .great_co_box img{
        width: 25%;
    }
    .result_sticker1{
        width: 30%;
        top:-50px;
        left:-50px;
    }
    .result_sticker2{
        width: 30%;
        top:-50px;
        left:-50px;
    }
    /* result end */
}


@media (max-width:620px) {
    /* header Start */
    .header .logo{
        width: 35%;
    }
    .offical_link{
        width: 100px;
    }
    /* header End */
    /* sideBar Start */
    .social_sideBar{
        width: 9%;
    }
    /* sideBar End */

    /* home start */
    .content_box{
        flex-direction: column;
        align-items: center;
    }
    .content_box .info{
        width: 70%;
    }
    .content_box .gift{
        width: 70%;
    }
    .info .info_title{
        width: 35%;
        bottom: -100px;
        left:-40px
    }
    .gift .gift_title{
        width: 35%;
        bottom: -100px;
        left:-40px
    }
    /* home end */

    /* qusPage start */
    .qus_content{
        width: 70%;
    }
    .qus_content h2{
        font-size: 20px;
    }
    .qus_content input{
        font-size: 14px;
    }
    .bgWin_box{
        top:-410px;
        left: -10px;
    }
    .bgWin2_box{
        top:-820px;
        left: -20px;
    }
    /* qusPage end */
    
    /* result start */
    .yourmodo{
        margin:60px 20%;
    }
    .yourmodo h2{
        font-size: 22px;
    }
    .yourmodo_box h2{
    font-size: 30px;
    font-weight: bolder;
    }
    .great_co_box{
        flex-direction: column;
        align-items: center;
    }
    .great_co_box img{
        margin-top: 30px;
        width: 30%;
    }
    /* result end */
}


@media (max-width:560px) {
    /* officalLink Start */
    .offical_link{
        width: 80px;
    }
    /* officalLink End */
    /* sideBar Start */
    .social_sideBar{
        width: 10%;
    }
    .social_sideBar a{
        margin:10px;
    }
    /* sideBar End */
    /* header start*/
    .info .info_title{
        width: 40%;
        bottom: -100px;
        left:-40px
    }
    .gift .gift_title{
        width: 40%;
        bottom: -100px;
        left:-40px
    }
    /* header end*/

    /* result start */
    .result_box, .activity_box{
        margin:60px 15%;
        padding: 0px 4%;
    }
    .yourmodo{
        margin:60px 10%;
    }
    .yourmodo h2{
        font-size: 22px;
    }
    .yourmodo_box h2{
    font-size: 30px;
    font-weight: bolder;
    }
    .reasonBox h2{
        font-size: 24px;
    }
    /* result end */
}


@media (max-width:420px) {
    /* header Start */
    .header .logo{
        width: 40%;
    }
    .offical_link{
        width: 80px;
    }
    .info .info_title{
        width: 40%;
        bottom: -80px;
        left:-40px
    }
    .gift .gift_title{
        width: 40%;
        bottom: -80px;
        left:-40px
    }
    /* header End */
    /* sideBar Start */
    .social_sideBar{
        width: 10%;
    }
    .social_sideBar a{
        margin:8px;
    }
    /* sideBar End */
    /* qusPage start */
    .qus_content{
        width: 75%;
    }
    .ansbox input{
        width: 85%;
    }
    .qus_content h2{
        font-size: 20px;
    }
    .qus_content input{
        font-size: 12px;
    }
    .bgWin_box{
        top:-400px;
        left: -10px;
    }
    .bgWin2_box{
        top:-800px;
        left: -20px;
    }
    /* qusPage end */
    /* result start */
    .result_sticker1{
        width: 45%;
        top:-50px;
        left:-50px;
    }
    .result_sticker2{
        position: absolute;
        width: 45%;
        top:-50px;
        left:-50px;
    }
    /* result end */

}

/* qus_effect RWD start */
@media (max-width:1650px) {
    .bgWin_box{
        top:-570px;
        left: -10px;
    }
    .bgWin2_box{
        top:-1040px;
        left: -20px;
    } 
}
@media (max-width:1550px) {
    .bgWin_box{
        top:-610px;
        left: -10px;
    }
    .bgWin2_box{
        top:-1120px;
        left: -20px;
    } 
}
@media (max-width:1440px) {
    .bgWin_box{
        top:-590px;
        left: -10px;
    }
    .bgWin2_box{
        top:-1080px;
        left: -20px;
    } 
}
@media (max-width:1300px) {
    .bgWin_box{
        top:-580px;
        left: -10px;
    }
    .bgWin2_box{
        top:-1060px;
        left: -20px;
    } 
}
@media (max-width:1200px) {
    .bgWin_box{
        top:-570px;
        left: -10px;
    }
    .bgWin2_box{
        top:-1040px;
        left: -20px;
    } 
}
@media (max-width:1163px) {
    .bgWin_box{
        top:-610px;
        left: -10px;
    }
    .bgWin2_box{
        top:-1120px;
        left: -20px;
    } 
}
@media (max-width:1000px) {
    .bgWin_box{
        top:-590px;
        left: -10px;
    }
    .bgWin2_box{
        top:-1080px;
        left: -20px;
    } 
}
@media (max-width:800px) {
    .bgWin_box{
        top:-590px;
        left: -10px;
    }
    .bgWin2_box{
        top:-1080px;
        left: -20px;
    } 
}
@media (max-width:700px) {
    .bgWin_box{
        top:-590px;
        left: -10px;
    }
    .bgWin2_box{
        top:-1080px;
        left: -20px;
    } 
}
@media (max-width:620px) {
    .bgWin_box{
        top:-490px;
        left: -10px;
    }
    .bgWin2_box{
        top:-900px;
        left: -20px;
    } 
}
@media (max-width:500px) {
    .bgWin_box{
        top:-470px;
        left: -10px;
    }
    .bgWin2_box{
        top:-860px;
        left: -20px;
    } 
}
@media (max-width:400px) {
    .bgWin_box{
        top:-470px;
        left: -10px;
    }
    .bgWin2_box{
        top:-860px;
        left: -20px;
    } 
}
/* qus_effect RWD end */